[Desktop Entry]
Encoding=UTF-8
Name=Stardust
Comment=Stardust P2P Cryptocurrency
Comment[fr]=Stardust, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Stardust, eşten eşe kriptografik sanal para birimi
Exec=stardust-qt %u
Terminal=false
Type=Application
Icon=stardust128
MimeType=x-scheme-handler/stardust;
Categories=Office;Finance;
