
## <summary>policy for stardust</summary>


########################################
## <summary>
##	Transition to stardust.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`stardust_domtrans',`
	gen_require(`
		type stardust_t, stardust_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, stardust_exec_t, stardust_t)
')


########################################
## <summary>
##	Execute stardust server in the stardust domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`stardust_initrc_domtrans',`
	gen_require(`
		type stardust_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, stardust_initrc_exec_t)
')


########################################
## <summary>
##	Search stardust lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`stardust_search_lib',`
	gen_require(`
		type stardust_var_lib_t;
	')

	allow $1 stardust_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read stardust lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`stardust_read_lib_files',`
	gen_require(`
		type stardust_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, stardust_var_lib_t, stardust_var_lib_t)
')

########################################
## <summary>
##	Manage stardust lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`stardust_manage_lib_files',`
	gen_require(`
		type stardust_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, stardust_var_lib_t, stardust_var_lib_t)
')

########################################
## <summary>
##	Manage stardust lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`stardust_manage_lib_dirs',`
	gen_require(`
		type stardust_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, stardust_var_lib_t, stardust_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an stardust environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`stardust_admin',`
	gen_require(`
		type stardust_t;
		type stardust_initrc_exec_t;
		type stardust_var_lib_t;
	')

	allow $1 stardust_t:process { ptrace signal_perms };
	ps_process_pattern($1, stardust_t)

	stardust_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 stardust_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, stardust_var_lib_t)

')

