policy_module(stardust, 1.100.1)

########################################
#
# Declarations
#

type stardust_t;
type stardust_exec_t;
init_daemon_domain(stardust_t, stardust_exec_t)

permissive stardust_t;

type stardust_initrc_exec_t;
init_script_file(stardust_initrc_exec_t)

type stardust_conf_t;
files_type(stardust_conf_t)

type stardust_var_lib_t;
files_type(stardust_var_lib_t)

type stardust_var_run_t;
files_type(stardust_var_run_t)

type stardust_port_t;
corenet_port(stardust_port_t)

########################################
#
# stardust local policy
#
allow stardust_t self:process { fork };

allow stardust_t self:fifo_file rw_fifo_file_perms;
allow stardust_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(stardust_t, stardust_conf_t, stardust_conf_t)
manage_files_pattern(stardust_t, stardust_conf_t, stardust_conf_t)

manage_dirs_pattern(stardust_t, stardust_var_lib_t, stardust_var_lib_t)
manage_files_pattern(stardust_t, stardust_var_lib_t, stardust_var_lib_t)
files_var_lib_filetrans(stardust_t, stardust_var_lib_t, { dir file })

manage_dirs_pattern(stardust_t, stardust_var_run_t, stardust_var_run_t)
manage_files_pattern(stardust_t, stardust_var_run_t, stardust_var_run_t)

sysnet_dns_name_resolve(stardust_t)
corenet_all_recvfrom_unlabeled(stardust_t)

allow stardust_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(stardust_t)
corenet_tcp_sendrecv_generic_node(stardust_t)
corenet_tcp_sendrecv_all_ports(stardust_t)
corenet_tcp_bind_generic_node(stardust_t)

gen_require(`
    type stardust_port_t;
')
allow stardust_t stardust_port_t:tcp_socket name_bind;

gen_require(`
    type stardust_port_t;
')
allow stardust_t stardust_port_t:tcp_socket name_connect;

domain_use_interactive_fds(stardust_t)

files_read_etc_files(stardust_t)

miscfiles_read_localization(stardust_t)

sysnet_dns_name_resolve(stardust_t)

allow stardust_t stardust_exec_t:file execute_no_trans;
allow stardust_t self:process setsched;
corecmd_exec_ls(stardust_t)
corenet_tcp_connect_http_port(stardust_t)
dev_read_urand(stardust_t)
fs_getattr_xattr_fs(stardust_t)
kernel_read_system_state(stardust_t)
